@import '../../scss/variables';

.bread-crumb-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 60%;

    .bread-crumb-info {
        margin-right: 11px;
        font-size: 12px;
        color: $gray;

        &:after {
            content: " >";
        }

        &:last-child::after {
            content: "";
        }

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

@media (max-width: 768px) {
    .bread-crumb-container {
        width: 90%;
        margin-top: $main-spacing;
    
        .bread-crumb-info {
            margin-top: auto;
            font-size: 7px;
            width: 20%;
            background: #e6e1e2;
            border-radius: 87px;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;


            &:after {
                content: "";
            }
        }
    }
}