@import '../../scss/variables';

.card-item {
    background: $white;
    width: 60%;
    border-bottom: 2px solid $gray-light;;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    :hover {
        cursor: pointer;
    }

    .image-container {
        width: 20%;
    }
    .card-picture {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 180px;
        border-radius: 4px;
        object-fit: contain;
    }

    .card-text-container {
        margin-top: $main-spacing;
        width: 50%;

        .price-box {
            display: flex;
            text-align: start;
            align-content: center;
        }

        .carrito-image {
            margin-left: 10px;
            width: 18px;
        }
    }

    .card-text{
        text-align: initial;
    }

    .card-currency {
        color: $gray;
        font-size: 12px;
        width: 20%;
        margin-top: 50px;
    }
}

// breakpoints
@media (max-width: 768px) {
    .card-item {
        width: 100%;

        .image-container {
            width: 30%;
        }
    
        .card-picture {
            width: 90px;
            height: 90px;
            border-radius: 4px;
            object-fit: contain;
        }
    
        .card-text-container {
            margin-top: $main-spacing;
            margin-left: $main-spacing;
            width: 40%;
        }

        .card-currency {
            color: $gray;
            font-size: 10px;
            width: 20%;
            margin-top: 15px;
        }
    }
}